// Import page-specific CSS files here.
@import "home";

.show-header
 {
  margin-top: 70px;
  font-size: 50px;
 }

.container-user-show {
 margin-top: 10%;
 width: 800px;
 align-items: flex-start;
 flex-direction: column;
 display: flex;
 position: relative;
 left: -205px;
 width: 800px;
 align-items: flex-start;
 flex-direction: column;
 display: flex;
}

.container-big {
  margin-left: 34%;
  margin-right: 20%;


}

.square-photos {
 display: grid;
 grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.square-photos > img {
 // margin: 8px 8px;
}

.images-flexbox {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;

}

.thumbnail-show-place {

}

.header-h2 {
margin-top: 40px;
margin-bottom: 0px;

}

.info-just-under-name {
  width: 1015px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-just-under-name > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person-who-made-the-place {
  margin-top: 20px;
  height: 80px;
  width: 700px;

  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  img {
    border-radius: 50%;
  }
  h2 {
    margin-bottom: 35px;
  }
}

.description-place {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 700px;
  position: relative;
  left: -236;
  text-align: left;
  border-bottom: gray 1px solid;
}

.info-general {
  // position: relative;
  display: flex;
  padding-bottom: 80px;
  border-bottom: gray 1px solid;
  p {
    text-align: left;
  }
}

.margin-needed {
  margin-top: 40px;
}

.request-citizenship-box {

  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  width: max-content;
  margin-left: 26px;
  .min-income-header {
    font-size: 18px;
  }
   .min-income-itself {
    font-size: 28px;
  }

}


.request-citizenship-button {
  border-radius: 5px;
  font-size: 22px;
  background-color: #FDDB3A;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
}

.request-citizenship-button:hover {
  background-color: #FDDB3A;
  color: black;
}

.card-review {
  margin-top: 20px;
  overflow: hidden;
  height: 120px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-review img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .content-review {
  padding: 16px;
}
.review-input{
  width: 400px;
}

.avatar-comment {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50% !important;
  margin-right: 20px;
  margin-left: 20px;
}
