.container-user-info {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  border: 2px solid #E9ECEF;
  border-radius: 5px;
  padding: 5%;
  background-color: white;
}

.user-img {
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 6px 26px -10px rgba(0,0,0,0.75);
  margin-top: -10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-user-info {
  font-family: Poppins, sans-serif;
}

.container-place-citizen {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 15%;
}

.user-places {
  border: 2px solid #E9ECEF;
  width: 100%;
  border-radius: 5px;
  margin-right: 1%;
  background-color: white;
  padding: 5%;
}

.card-user-places {
  box-shadow: 0px 6px 26px -10px rgba(0,0,0,0.75);
  margin-top: 5%;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}


.user-citizenships {
  border: solid 2px #E9ECEF;
  width: 100%;
  border-radius: 5px;
  padding: 5%;
  margin-left: 1%;
  background-color: white;
}

.pl-3 {
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}
