    <!----- footer ---->

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      This project was made with <i class="fas fa-heart"></i> by <a href="https://github.com/CorentinBourda">CorentinBourda</a>, <a href="https://github.com/OctaveC">OctaveC</a>, <a href="https://github.com/patriciablbn">patriciablbn</a> and <a href="https://github.com/alextouze20/">atouze20</a>.
    </div>
  </div>
