.carousel{
  height: 206px;
  font-size: 1.2em;

}
#avatar-carousel{
  height: 50px;
  width: 50px;
  border-radius: 50%
}
.carousel-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.carousel-btn{
  color: #FDDB3A;
}
.searchbtn{
  font-weight: bold;
  & :hover{

  }
}
.carousel-indicator{
  background-color: #FDDB3A;
  border-radius: 10px;
}

a.carousel-control-prev {
    display: none;
}

span.carousel-control-next-icon {
    display: none;
}

div#carouselExampleIndicators {
    background-color: #ececec;
}

ol.carousel-indicators {
    display: none;
}

img.d-block.rounded-md.carousel-img {
    margin-right: 3%;
    width: auto;
    height: 100px;
}
