.blank{
  height: 150px;
}
.user-btn{
  position: absolute;
    left: -1px;
}
.user-btn-new{
  position: relative;
  left: 0px;

}
.user-btn a{
  background-color: #FDDB3A;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #52575d;
  &:hover{
    text-decoration: none;
    color: #41444b;
  }
}
#form-alex input {
  background-color: #FDDB3A;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  border: none;
  height: 45px;
  width: 100%;
  height: 45px;
  width: 100%;
  color: #52575d;
  &:hover{
    text-decoration: none;
    color: #41444b;
  }
}
.user-btn-pw{
  opacity: 0;
}

.form-control-file {
  background: none;
}

.form-container {
  background-color: white !important;
  box-shadow: none !important;
  font-family: Poppins;
}
